/*
I picked colors that make my website feel warm, welcoming, and easy to use.
These colors are earthy and natural.

Brown (#A0522D): This color is like the color of trees or the ground. It stands for strength, safety, and nature.
Peach-Brown (#D9885B): This is a lighter version of brown. It feels friendly and calming, like the setting sun. 
Light Tan (#F5F5DC): This is close to white, but not too bright. It’s used for the background so everything is easy to see.
Jet Black (#000000): This is used for words (text) so they stand out and are easy to read.

These colors work well together. They remind people of the earth, warmth, and comfort. Instead, I used calm colors that help the website feel calm and peaceful. That way, people can focus on the information and enjoy the look of the page. */



/* === Base Styles === */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #F5F0E1; /* light warm cream */
}

h2, h3, p, li {
    color: black;
}

/* === Header Styles === */
header {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b46134; /* light brown */
}
/* === Navigation Styles === */

nav ul {
    float: right;
    line-height: 80px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav {
    height: 50px;
    font-size: larger;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #C46A3A; /* light brown */
}

nav a {
    text-decoration: none;
    color: white;
    margin: 0 25px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
/* === Footer === */
footer {
    text-align: center;
    font-size: medium;
    font-family: serif;
    background-color: #b46134; /* light brown */
    padding: 10px;
    margin: 0;
}

footer a, footer p {
    color: black;
    text-decoration: underline;
}
footer a:hover{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
